<p>
    <b>
        Question. 5
    </b>
</p>
<p>
    <br />
</p>
<p>
    "모든 직원은 주어진 업무 시간 내에 과제를 제출해야 한다. 하지만 이 회사의 규정에는 유연근무제가 포함되어 있어 일부 직원은 업무 시간을 자유롭게 조정할 수 있다."
</p>
<p>
    이 상황에서 유연근무제를 적용받는 직원의 과제 제출 시간은 어떻게 될까요?
</p>
<p><br /></p>

<input type="radio" id="answer1" name="answer" value="answer1" checked required />
<label for="answer1">
    a. 그들은 과제를 제출할 수 있는 시간이 자유롭다.
</label>
<br />

<input type="radio" id="answer2" name="answer" value="answer2" required />
<label for="answer2">
    b. 그들은 정해진 시간 내에 과제를 제출해야 한다.
</label>
<br />

<input type="radio" id="answer3" name="answer" value="answer3" required />
<label for="answer3">
    c. 유연근무제를 적용받는 직원들은 과제를 제출하지 않아도 된다.
</label>
<br />

<input type="radio" id="answer4" name="answer" value="answer4" required />
<label for="answer4">
    d. 유연근무제를 적용받는 직원들은 과제를 늦게 제출할 수 있다.
</label>
<br />
<br />

<button type="button" id="start" class="next">다음</button>